<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>Menu</name>
    <sid>312329818092234</sid>
    <event-sheet>Main_Menu_Scripts</event-sheet>
    <size>
        <width>3840</width>
        <height>1080</height>
    </size>
    <margins>
        <horizontal>10000</horizontal>
        <vertical>10000</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="Background" sid="196762480503970">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Stars_Menu" uid="23">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Wrap">
                            <properties>
                                <wrap-to>Layout</wrap-to>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Bullet">
                            <properties>
                                <speed>200</speed>
                                <acceleration>0</acceleration>
                                <gravity>0</gravity>
                                <bounce-off-solids>No</bounce-off-solids>
                                <set-angle>Yes</set-angle>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-514.108398438</x>
                        <y>-1038.312011719</y>
                        <z>0</z>
                        <width>3840</width>
                        <height>2160</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>-0.750778139</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Stars_Menu" uid="25">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Wrap">
                            <properties>
                                <wrap-to>Layout</wrap-to>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Bullet">
                            <properties>
                                <speed>200</speed>
                                <acceleration>0</acceleration>
                                <gravity>0</gravity>
                                <bounce-off-solids>No</bounce-off-solids>
                                <set-angle>Yes</set-angle>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-3320.108398438</x>
                        <y>1579.687988281</y>
                        <z>0</z>
                        <width>3840</width>
                        <height>2160</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>-0.750778139</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Stars_Menu" uid="20">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Wrap">
                            <properties>
                                <wrap-to>Layout</wrap-to>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Bullet">
                            <properties>
                                <speed>200</speed>
                                <acceleration>0</acceleration>
                                <gravity>0</gravity>
                                <bounce-off-solids>No</bounce-off-solids>
                                <set-angle>Yes</set-angle>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>957.891601563</x>
                        <y>539.687988281</y>
                        <z>0</z>
                        <width>3840</width>
                        <height>2160</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>-0.750778139</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Stars_Menu" uid="21">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Wrap">
                            <properties>
                                <wrap-to>Layout</wrap-to>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Bullet">
                            <properties>
                                <speed>200</speed>
                                <acceleration>0</acceleration>
                                <gravity>0</gravity>
                                <bounce-off-solids>No</bounce-off-solids>
                                <set-angle>Yes</set-angle>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-1850.108398438</x>
                        <y>3157.687988281</y>
                        <z>0</z>
                        <width>3840</width>
                        <height>2160</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>-0.750778139</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Stars_Menu" uid="28">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Wrap">
                            <properties>
                                <wrap-to>Layout</wrap-to>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Bullet">
                            <properties>
                                <speed>200</speed>
                                <acceleration>0</acceleration>
                                <gravity>0</gravity>
                                <bounce-off-solids>No</bounce-off-solids>
                                <set-angle>Yes</set-angle>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>2293</x>
                        <y>-3657</y>
                        <z>0</z>
                        <width>3840</width>
                        <height>2160</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>-0.750778139</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Stars_Menu" uid="30">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Wrap">
                            <properties>
                                <wrap-to>Layout</wrap-to>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Bullet">
                            <properties>
                                <speed>200</speed>
                                <acceleration>0</acceleration>
                                <gravity>0</gravity>
                                <bounce-off-solids>No</bounce-off-solids>
                                <set-angle>Yes</set-angle>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>3761</x>
                        <y>-2077</y>
                        <z>0</z>
                        <width>3840</width>
                        <height>2160</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>-0.750778139</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Stars_Menu" uid="75">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Wrap">
                            <properties>
                                <wrap-to>Layout</wrap-to>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Bullet">
                            <properties>
                                <speed>200</speed>
                                <acceleration>0</acceleration>
                                <gravity>0</gravity>
                                <bounce-off-solids>No</bounce-off-solids>
                                <set-angle>Yes</set-angle>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>2432</x>
                        <y>2112</y>
                        <z>0</z>
                        <width>3840</width>
                        <height>2160</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>-0.750778139</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Stars_Menu" uid="76">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Wrap">
                            <properties>
                                <wrap-to>Layout</wrap-to>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Bullet">
                            <properties>
                                <speed>200</speed>
                                <acceleration>0</acceleration>
                                <gravity>0</gravity>
                                <bounce-off-solids>No</bounce-off-solids>
                                <set-angle>Yes</set-angle>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>5236</x>
                        <y>-502</y>
                        <z>0</z>
                        <width>3840</width>
                        <height>2160</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>-0.750778139</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Stars_Menu" uid="77">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Wrap">
                            <properties>
                                <wrap-to>Layout</wrap-to>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Bullet">
                            <properties>
                                <speed>200</speed>
                                <acceleration>0</acceleration>
                                <gravity>0</gravity>
                                <bounce-off-solids>No</bounce-off-solids>
                                <set-angle>Yes</set-angle>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-374</x>
                        <y>4732</y>
                        <z>0</z>
                        <width>3840</width>
                        <height>2160</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>-0.750778139</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="Main Graphics" sid="308642850335709">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Menu_graphic" uid="19">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>960</x>
                        <y>540</y>
                        <z>0</z>
                        <width>1920</width>
                        <height>1080</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="Buttons" sid="110458911253230">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Start_Text" uid="22">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>960</x>
                        <y>744</y>
                        <z>0</z>
                        <width>272</width>
                        <height>92</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Options_Text" uid="24">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>960</x>
                        <y>880</y>
                        <z>0</z>
                        <width>347</width>
                        <height>92</height>
                        <depth>0</depth>
                        <hotspotX>0.501440942</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Exit_Text" uid="26">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>960</x>
                        <y>1008</y>
                        <z>0</z>
                        <width>250</width>
                        <height>92</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Sprite" uid="63">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <Type>4</Type>
                        <State>0</State>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>2088</x>
                        <y>864</y>
                        <z>0</z>
                        <width>200.319747925</width>
                        <height>63.258865356</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Sprite" uid="64">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <Type>0</Type>
                        <State>0</State>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>2088</x>
                        <y>776</y>
                        <z>0</z>
                        <width>200.319747925</width>
                        <height>63.258865356</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Sprite" uid="65">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <Type>0</Type>
                        <State>0</State>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>2088</x>
                        <y>600</y>
                        <z>0</z>
                        <width>200.319747925</width>
                        <height>63.258865356</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Sprite" uid="66">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <Type>0</Type>
                        <State>0</State>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>2088</x>
                        <y>512</y>
                        <z>0</z>
                        <width>200.319747925</width>
                        <height>63.258865356</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Sprite" uid="67">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <Type>0</Type>
                        <State>0</State>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>2088</x>
                        <y>688</y>
                        <z>0</z>
                        <width>200.319747925</width>
                        <height>63.258865356</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Opt_Graphics" uid="68">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>2880</x>
                        <y>117</y>
                        <z>0</z>
                        <width>533</width>
                        <height>128</height>
                        <depth>0</depth>
                        <hotspotX>0.500938058</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Base_Text" uid="69">
                    <properties>
                        <character-width>62</character-width>
                        <character-height>86</character-height>
                        <character-set>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789.,;:?!-_~#&quot;&apos;&amp;()[]|`\/@°+=*$£€&lt;&gt;</character-set>
                        <text>Custom Cursor</text>
                        <scale>0.8</scale>
                        <initial-visibility>Visible</initial-visibility>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Center</vertical-alignment>
                        <hotspot>Center</hotspot>
                        <wrapping>Word</wrapping>
                        <character-spacing>0</character-spacing>
                        <line-height>0</line-height>
                        <char-width-json>{&quot;&quot;c2array&quot;&quot;:true,&quot;&quot;size&quot;&quot;:[2,10,1],&quot;&quot;data&quot;&quot;:[[[25],[4],[18],[27],[29],[39],[40],[49],[50],[60]],[[&quot;&quot; &quot;&quot;],[&quot;&quot;$£&quot;&quot;],[&quot;&quot;Ii.;:!&apos;|`&quot;&quot;],[&quot;&quot;°&quot;&quot;],[&quot;&quot;1,()[]\\/&quot;&quot;],[&quot;&quot;ACDEFHJKLOPRSTUVXYZacdefghjklnopqrstuvxyz023456789?-_\&quot;&quot;+=*&lt;&gt;&quot;&quot;],[&quot;&quot;€&quot;&quot;],[&quot;&quot;BQb&quot;&quot;],[&quot;&quot;GN~&amp;%&quot;&quot;],[&quot;&quot;MWmw#@&quot;&quot;]]]}</char-width-json>
                        <space-char-width>-1</space-char-width>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>2440</x>
                        <y>864</y>
                        <z>0</z>
                        <width>440</width>
                        <height>72</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Back_Text" uid="70">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>2104</x>
                        <y>1016</y>
                        <z>0</z>
                        <width>293</width>
                        <height>90</height>
                        <depth>0</depth>
                        <hotspotX>0.546075106</hotspotX>
                        <hotspotY>0.477777779</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Slider_bar" uid="71">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>3232</x>
                        <y>600</y>
                        <z>0</z>
                        <width>248</width>
                        <height>44</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Slider_Slide" uid="72">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="DragDrop">
                            <properties>
                                <axes>Horizontal only</axes>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>3464</x>
                        <y>600</y>
                        <z>0</z>
                        <width>40</width>
                        <height>68</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Base_Text" uid="73">
                    <properties>
                        <character-width>62</character-width>
                        <character-height>86</character-height>
                        <character-set>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789.,;:?!-_~#&quot;&apos;&amp;()[]|`\/@°+=*$£€&lt;&gt;</character-set>
                        <text>Sounds</text>
                        <scale>0.8</scale>
                        <initial-visibility>Visible</initial-visibility>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Center</vertical-alignment>
                        <hotspot>Center</hotspot>
                        <wrapping>Word</wrapping>
                        <character-spacing>0</character-spacing>
                        <line-height>0</line-height>
                        <char-width-json>{&quot;&quot;c2array&quot;&quot;:true,&quot;&quot;size&quot;&quot;:[2,10,1],&quot;&quot;data&quot;&quot;:[[[25],[4],[18],[27],[29],[39],[40],[49],[50],[60]],[[&quot;&quot; &quot;&quot;],[&quot;&quot;$£&quot;&quot;],[&quot;&quot;Ii.;:!&apos;|`&quot;&quot;],[&quot;&quot;°&quot;&quot;],[&quot;&quot;1,()[]\\/&quot;&quot;],[&quot;&quot;ACDEFHJKLOPRSTUVXYZacdefghjklnopqrstuvxyz023456789?-_\&quot;&quot;+=*&lt;&gt;&quot;&quot;],[&quot;&quot;€&quot;&quot;],[&quot;&quot;BQb&quot;&quot;],[&quot;&quot;GN~&amp;%&quot;&quot;],[&quot;&quot;MWmw#@&quot;&quot;]]]}</char-width-json>
                        <space-char-width>-1</space-char-width>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>2992</x>
                        <y>600</y>
                        <z>0</z>
                        <width>208</width>
                        <height>72</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="VolumeText" uid="74">
                    <properties>
                        <character-width>62</character-width>
                        <character-height>86</character-height>
                        <character-set>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789.,;:?!-_~#&quot;&apos;&amp;()[]|`\/@°+=*$£€&lt;&gt;</character-set>
                        <text>100</text>
                        <scale>0.6</scale>
                        <initial-visibility>Visible</initial-visibility>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Center</vertical-alignment>
                        <hotspot>Center</hotspot>
                        <wrapping>Word</wrapping>
                        <character-spacing>0</character-spacing>
                        <line-height>0</line-height>
                        <char-width-json>{&quot;&quot;c2array&quot;&quot;:true,&quot;&quot;size&quot;&quot;:[2,10,1],&quot;&quot;data&quot;&quot;:[[[25],[4],[18],[27],[29],[39],[40],[49],[50],[60]],[[&quot;&quot; &quot;&quot;],[&quot;&quot;$£&quot;&quot;],[&quot;&quot;Ii.;:!&apos;|`&quot;&quot;],[&quot;&quot;°&quot;&quot;],[&quot;&quot;1,()[]\\/&quot;&quot;],[&quot;&quot;ACDEFHJKLOPRSTUVXYZacdefghjklnopqrstuvxyz023456789?-_\&quot;&quot;+=*&lt;&gt;&quot;&quot;],[&quot;&quot;€&quot;&quot;],[&quot;&quot;BQb&quot;&quot;],[&quot;&quot;GN~&amp;%&quot;&quot;],[&quot;&quot;MWmw#@&quot;&quot;]]]}</char-width-json>
                        <space-char-width>-1</space-char-width>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>3200</x>
                        <y>600</y>
                        <z>0</z>
                        <width>88</width>
                        <height>96</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="Fade" sid="721820808100247">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances />
            <effects />
        </layer>
        <layer name="Ui" sid="934773155136205">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Camera" uid="61">
                    <properties>
                        <initial-visibility>Invisible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="ScrollTo">
                            <properties>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>952</x>
                        <y>520</y>
                        <z>0</z>
                        <width>47.328639984</width>
                        <height>47.328639984</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Cursor" uid="62">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>1408</x>
                        <y>-192</y>
                        <z>0</z>
                        <width>40</width>
                        <height>40</height>
                        <depth>0</depth>
                        <hotspotX>0.050000001</hotspotX>
                        <hotspotY>0.050000001</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
    </layers>
    <nonworld-instances />
    <effects />
</c2layout>
